<nav aria-label="breadcrumb ">
  <ol class="breadcrumb py-2 pe-2 justify-content-end text-light bg-primary">
    <li class="breadcrumb-item user-select-none" routerLink="/home">Home</li>
    <li class="breadcrumb-item user-select-none" routerLink="/newsroom">
      News
    </li>
    <li class="breadcrumb-item user-select-none active" aria-current="page">
      Detail
    </li>
  </ol>
</nav>
<!-- <div class="container-fluid"> -->
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-12 shadow">
      <nz-card [nzBordered]="false" data-aos="fade-up" [nzLoading]="loading">
        <div class="post-preview" data-aos="fade-up">
          <h1 class="post-title">
            {{ title }}
          </h1>

          <hr class="my-4" data-aos="fade-up" />
          <h6 [innerHtml]="description" class="news_description"></h6>
          <p class="post-meta user-select-none">
            <i class="fa-solid fa-user"></i>
            <span class="text-primary"> {{ author }} </span>
            <i class="fa-solid fa-clock"></i>
            {{ date?.toDate() | date : "dd/MM/yyyy" }}
          </p>
        </div>
      </nz-card>

      <nz-divider
        nzText="Comments"
        nzOrientation="left"
        data-aos="fade-up"
      ></nz-divider>

      <nz-list
        *ngIf="comments.length"
        [nzDataSource]="comments"
        [nzRenderItem]="item"
        [nzItemLayout]="'horizontal'"
        data-aos="fade-up"
      >
        <ng-template #item let-item>
          <nz-comment
            [nzAuthor]="item.name"
            nzDatetime="{{ item.commentDate.toDate() | date : 'medium' }}"
            data-aos="fade-up"
            data-aos="fade-up"
          >
            <nz-avatar nz-comment-avatar nzIcon="user"></nz-avatar>
            <nz-comment-content>
              <p>{{ item.comment }}</p>
            </nz-comment-content>
          </nz-comment>
        </ng-template>
      </nz-list>
      <div class="row">
        <div class="col-lg-8 col-sm-12">
          <nz-comment>
            <nz-avatar
              nz-comment-avatar
              nzIcon="user"
              data-aos="fade-up"
            ></nz-avatar>
            <nz-comment-content data-aos="fade-up">
              <form
                nz-form
                [formGroup]="validateComment"
                (ngSubmit)="commentSubmit()"
              >
                <nz-form-item>
                  <nz-form-control nzErrorTip="Please input your Name!">
                    <nz-input-group nzPrefixIcon="user">
                      <input
                        formControlName="name"
                        nz-input
                        placeholder="Name"
                      />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control nzErrorTip="Please input your Email!">
                    <nz-input-group nzPrefixIcon="mail">
                      <input
                        formControlName="email"
                        nz-input
                        placeholder="Email Address"
                      />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <textarea
                    formControlName="comment"
                    nz-input
                    rows="4"
                    placeholder="write commet here"
                  ></textarea>
                </nz-form-item>
                <nz-form-item>
                  <button
                    nz-button
                    nzType="primary"
                    [nzLoading]="submitting"
                    [disabled]="!validateComment.valid"
                  >
                    Comment
                  </button>
                </nz-form-item>
              </form>
            </nz-comment-content>
          </nz-comment>
        </div>
      </div>
    </div>
    <!-- <div class="col-sm-12 col-lg-3 shadow ">categories</div> -->
  </div>
</div>
<!-- </div> -->
