<!-- ======= Footer ======= -->
<footer id="footer" data-aos="fade-up">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>CA. Yasar J. Pathan</h3>
          <p>
            31/B, Green Park 4, Sadar Nagar 3,<br />
            Near Mannat Hall, Bhagdawada,<br />
            Valsad - 396001, Gujarat,<br />
            India<br /><br />
            <strong>Phone:</strong> +91 96243 30295<br />
            <strong>Email:</strong> cayasarpathan@gmail.com<br />
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li>
              <i class="fa-solid fa-chevron-right"></i>
              <a target="_blank" href="https://www.gst.gov.in/">GST</a>
            </li>
            <li>
              <i class="fa-solid fa-chevron-right"></i>
              <a target="_blank" href="http://www.mca.gov.in/">MCA</a>
            </li>
            <li>
              <i class="fa-solid fa-chevron-right"></i>
              <a
                target="_blank"
                href="https://www.incometax.gov.in/iec/foportal/"
                >Income Tax</a
              >
            </li>
            <li>
              <i class="fa-solid fa-chevron-right"></i>
              <a
                target="_blank"
                href="https://onlineservices.tin.egov-nsdl.com/etaxnew/tdsnontds.jsp"
                >E-Pay Tax</a
              >
            </li>
            <li>
              <i class="fa-solid fa-chevron-right"></i>
              <a
                target="_blank"
                href="https://www.cbic.gov.in/htdocs-cbec/customs"
                >Custom</a
              >
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <ul>
            <h4></h4>
            <li>
              <i class="fa-solid fa-chevron-right"></i>
              <a
                target="_blank"
                href="https://www.onlineservices.nsdl.com/paam/endUserRegisterContact.html"
                >PAN Application</a
              >
            </li>
            <li>
              <i class="fa-solid fa-chevron-right"></i>
              <a
                target="_blank"
                href="https://www.tin-nsdl.com/services/etds-etcs/etds-index.html"
                >TDS</a
              >
            </li>
            <li>
              <i class="fa-solid fa-chevron-right"></i>
              <a target="_blank" href="https://www.icai.org">ICAI</a>
            </li>
            <li>
              <i class="fa-solid fa-chevron-right"></i>
              <a target="_blank" href="https://www.rbi.org.in">RBI</a>
            </li>
            <li>
              <i class="fa-solid fa-chevron-right"></i>
              <a
                target="_blank"
                href="https://www.incometaxindia.gov.in/pages/tools/tax-calculator.aspx"
                >Income Tax Calculator</a
              >
            </li>
          </ul>
        </div>

        <div class="col-lg-3 social-links text-left text-md-left pt-3 pt-md-0">
          <h4>Get Social</h4>
          <a
            target="_blank"
            href="https://www.twitter.com/CA_YasarPathan/"
            class="twitter"
            ><i class="fa-brands fa-twitter"></i
          ></a>
          <a
            target="_blank"
            href="https://www.facebook.com/cayasarjpathan"
            class="facebook"
            ><i class="fa-brands fa-instagram"></i
          ></a>
          <a
            target="_blank"
            href="https://www.instagram.com/ca_yasarpathan/"
            class="instagram"
            ><i class="fa-brands fa-facebook"></i
          ></a>
          <a
            target="_blank"
            href="https://www.linkedin.com/in/ca-yasar-pathan-220776134"
            class="linkedin"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
        </div>
      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">
    <div class="mr-md-auto text-center text-md-left">
      <div class="credits">
        Developed by
        <a target="_blank" [href]="zaidUrlList[0].url"> Zaid Shaikh</a>
      </div>
    </div>
  </div>
</footer>
