<nav aria-label="breadcrumb ">
  <ol
    class="breadcrumb py-2 pe-2 justify-content-end text-light bg-primary"
  >
    <li class="breadcrumb-item user-select-none" routerLink="/home">Home</li>
    <li class="breadcrumb-item user-select-none active" >Services</li>
  </ol>
</nav>

<div class="services-main">
  
  <div class="container" data-aos="fade-up" id="service1">
    <h2 style="color: #085294">AUDITING & ASSURANCE</h2>
    <br />
    <p>
      Auditing & Assurance service is the base of any financial management
      setup. it ensures proper working of the organization according to laid
      down internal controls & also the efficiency and effectiveness of the
      controls itself.
    </p>
    <p></p>

    <ul>
      <i class="fa-solid fa-check"></i>
      Statutory Audit<br /><br />
      <i class="fa-solid fa-check"></i>
      Internal Audit<br /><br />
      <i class="fa-solid fa-check"></i>
      Direct Tax Audit<br /><br />
      <i class="fa-solid fa-check"></i>
      Indirect Tax Audit<br /><br />
      <i class="fa-solid fa-check"></i>
      Trust/ NGO Audit<br /><br />
    </ul>
  </div>

  <div class="container-fluid" data-aos="fade-up">
    <div class="container" id="service2">
      <h2 style="color: #085294">INCOME TAX</h2>
      <br />
      <p>
        Managing the complex tax issues and adapting to continuous ongoing tax
        reforms and changes can drain resources, time and money to a great
        Extent.
      </p>
      <p>
        We always strive to provide an effective compliance services and
        in-depth technical expertise across wide range of tax services.
      </p>
      <ul>
        <i class="fa-solid fa-check"></i>
        Tax Planning and Structuring<br /><br />
        <i class="fa-solid fa-check"></i>
        Tax Advisory for Corporates and Non-Corporates<br /><br />
        <i class="fa-solid fa-check"></i>
        Income Tax Returns and other forms filings<br /><br />
        <i class="fa-solid fa-check"></i>
        Withholding Tax compliances<br /><br />
        <i class="fa-solid fa-check"></i>
        Tax Audits<br /><br />
      </ul>
    </div>
  </div>

  <div class="container" data-aos="fade-up" id="service3">
    <h2 style="color: #085294">GOODS & SERVICE TAX</h2>
    <br />
    <p>
      We are operating with an intention to provide end to end GST solutions to
      enable you to focus on your core business.
    </p>
    <ul>
      <i class="fa-solid fa-check"></i>
      GST registration<br /><br />
      <i class="fa-solid fa-check"></i>
      Amendments in GST registration<br /><br />
      <i class="fa-solid fa-check"></i>
      GST returns filings<br /><br />
      <i class="fa-solid fa-check"></i>
      Getting GST refund processed for export of goods and services, inverted
      rate structure, deemed export, etc.<br /><br />
      <i class="fa-solid fa-check"></i>
      Internal Audit as a precautionary step to mitigate litigation risk<br /><br />
      <i class="fa-solid fa-check"></i>
      Audit of accounts under GST Act<br /><br />
    </ul>
  </div>

  <div class="container-fluid" data-aos="fade-up">
    <div class="container" id="service4">
      <h2 style="color: #085294">ACCOUNTING & OUTSOURCING</h2>
      <p>
        It is difficult to make sound business decisions in today's global
        economy without having timely, Reliable and Meaningful Financial Data,
        We assist you to record all your routine and complex business
        transactions considering the applicable laws.
      </p>
      <ul>
        <i class="fa-solid fa-check"></i>
        General Accounting & Book Keeping considering the applicable laws<br /><br />
        <i class="fa-solid fa-check"></i>
        Financial Statement Preparation<br /><br />
        <i class="fa-solid fa-check"></i>
        Cash Flow Statements<br /><br />
        <i class="fa-solid fa-check"></i>
        Financial Budgeting<br /><br />
        <i class="fa-solid fa-check"></i>
        Assistance in recording routine and complex business transactions<br /><br />
      </ul>
    </div>
  </div>

  <div class="container" data-aos="fade-up" id="service5">
    <h2 style="color: #085294">CORPORATE & ALLIED LAWS</h2>
    <p>
      With the increasing awareness relating to corporate governance in recent
      times, compliance with various regulatory authorities becomes very
      important, We act as a single point of contact to comply with all the
      statutory requirements.
    </p>
    <ul>
      <i class="fa-solid fa-check"></i>
      Incorporation of company or LLP.<br /><br />
      <i class="fa-solid fa-check"></i>
      Filling of annual returns and other E-Filings with ROC<br /><br />
      <i class="fa-solid fa-check"></i>
      Maintenance of statutory records required under the statute and other
      secretarial service support<br /><br />
      <i class="fa-solid fa-check"></i>
      Assistance in convening meetings of board of directors and shareholders<br /><br />
      <i class="fa-solid fa-check"></i>
      Alteration & modification with respect to names of companies, situation of
      registered office, share capital and amendments in the MOA & AOA<br /><br />
      <i class="fa-solid fa-check"></i>
      Assistance in winding Up or liquidation of companies<br /><br />
      <i class="fa-solid fa-check"></i>
      Striking Off of companies from the registrar of companies<br /><br />
    </ul>
  </div>

  <div class="container-fluid" data-aos="fade-up">
    <div class="container" id="service6">
      <h2 style="color: #085294">MANAGEMENT CONSULTING</h2>
      <p>
        Management Consulting involves helping a business institution enhance
        their performance, by analysing the current problems and creating a
        strategy for development, our management consulting services includes
      </p>
      <ul>
        <i class="fa-solid fa-check"></i>
        Planning and implementation of business policies and strategic
        decisions.<br /><br />
        <i class="fa-solid fa-check"></i>
        Preparation of credit monitoring analysis report for Fundings<br /><br />
        <i class="fa-solid fa-check"></i>
        Developing the budgetary and controls system.<br /><br />
        <i class="fa-solid fa-check"></i>
        Financial planning and policies for effective utilization of
        resources.<br /><br />
        <i class="fa-solid fa-check"></i>
        Assistance in the preparation of feasibility studies of New projects and
        expansion schemes.<br /><br />
        <i class="fa-solid fa-check"></i>
        Assists in finding solutions to specific business problems such as
        product mix decisions, pricing decisions, making representation to
        Government on various matters etc<br /><br />
        <i class="fa-solid fa-check"></i>
        Helps to mitigate non compliance<br /><br />
        <i class="fa-solid fa-check"></i>
        Investment management activities<br /><br />
        <i class="fa-solid fa-check"></i>
        Assistance in documentation for fundings to corporate & non corporate<br /><br />
      </ul>
    </div>
  </div>

  <!-- question-->
  <div class="d-flex justify-content-center my-2" data-aos="fade-up">
    <div>
      Have any question? We can help you…
      <span routerLink="/contact" style="color: #085294; cursor: pointer"
        >Contact Us</span
      >
    </div>
  </div>
</div>
