
<nav aria-label="breadcrumb ">
    <ol class="breadcrumb py-2 pe-2 justify-content-end text-light bg-primary">
      <li class="breadcrumb-item user-select-none"  routerLink="/home">Home</li>
      <li class="breadcrumb-item active user-select-none" aria-current="page">About</li>
    </ol>
  </nav>
  
  <div class="container">
    <div class="row my-5">
      <div class="col-md-6 col-sm-6 d-flex justify-content-center">
        <div class="card" style="width: 18rem">
          <img
            src="../../assets/Images/yasar.jpg"
            class="card-img-top"
            alt="img"
          />
          <div class="card-body text-center">
            <h3 class="fs-3 fw-bold">CA. Yasar J. Pathan</h3>
            <p class="card-text">(ACA, B.Com)</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 d-flex justify-content-start">
        <ul>
          <p>Member of The Institute of Chartered Accountants of India</p>
          <p>Practicing Chartered Accountant in Valsad.</p>
          <p>
            Practicing in Direct &amp; Indirect Taxes, Corporate Laws, Auditing
            &amp; Assurance, Accounting &amp; Book Keeping and Business Consulting
            services
          </p>
          <p>Visiting Faculty at Enlight Professional Academy</p>
        </ul>
      </div>
    </div>
  </div>
  