.carousel-item img {
  width: 100vw;
  height: 92vh;
  object-fit: cover;
}
.carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.home-about ul li {
  list-style: none;
}

.card {
  cursor: pointer;
  border: 0;
  box-shadow: 0px 0px 12px -5px rgba(166, 166, 166, 1);
}


a{
  text-decoration: none;
}

.post-preview > a {
  color: #212529;
}
.post-preview > a:focus, .post-preview > a:hover {
  text-decoration: none;
  color: #0085A1;
}s
.post-preview > a > .post-title {
  overflow: hidden;
  font-size: 1.875rem;
  margin-top: 1.875rem;
  margin-bottom: 0.625rem;
  font-weight: 700;
}
.post-preview > a > .post-subtitle {
  overflow: hidden;
  font-weight: 300;
  margin-bottom: 0.625rem;
}
.post-preview > .post-meta {
  font-size: 1.125rem;
  font-style: italic;
  margin-top: 0;
  color: #6c757d;
}
.post-preview > .post-meta > a {
  text-decoration: none;
}
@media (min-width: 992px) {
  .post-preview > a > .post-title {
    font-size: 2.25rem;
  }
}