<nz-table #sortTable [nzData]="contactList" nzTableLayout="fixed">
    <thead>
      <tr>
        <th
          *ngFor="let column of listOfColumn"
          [nzSortFn]="column.compare"
          [nzSortPriority]="column.priority"
        >
          {{ column.title }}
        </th>
        <th nzWidth="80px">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of sortTable.data">
        <td>{{ data.name }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.subject }}</td>
        <td>{{ data.date?.toDate() | date : "medium" }}</td>
        <td>{{ data.message | shorten : 20 }}</td>
        <td
          nz-popconfirm
          nzPopconfirmTitle="Are you sure delete {{ data.name }} contatc?"
          nzPopconfirmPlacement="bottom"
          (nzOnConfirm)="confirm(data)"
          (nzOnCancel)="cancel()"
        >
          <i
            class="fa-solid fa-trash ms-3"
            style="color: red; font-size: 1.3rem"
          ></i>
        </td>
      </tr>
    </tbody>
  </nz-table>
  